Django>=5.0.2
requests>=2.31.0
beautifulsoup4>=4.12.2
newspaper3k>=0.2.8
pytz>=2024.1
social-auth-app-django>=5.4.0
python-social-auth>=0.3.6
whitenoise>=6.6.0
django-cors-headers>=4.3.1 
lxml_html_clean
gunicorn
